<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <script src='assets/js/cadastro.js' defer></script>
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(assets/img/emoticons/neutro.jpg);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Crie uma Conta!</h4>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="nome" placeholder="Nome" name="first_name"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="sobrenome" placeholder="Sobrenome" name="last_name"></div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="sexo" placeholder="Sexo" name="sexo"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="data_nasc" placeholder="Data Nascimento" name="data_nasc"></div>
                                </div>
                                
                                <br>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="user" id="username"  placeholder="Username" name="username"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="tel" id="celular" placeholder="Telefone (XX)-X-XXXX-XXXX" name="telefone" ></div>
                                </div>

                                <div class="form-group"><input class="form-control form-control-user" type="email" id="email" aria-describedby="emailHelp" placeholder="Email" name="email"></div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="senha" placeholder="Senha" name="Password"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Confirme a Senha" name="password_repeat"></div>
                                </div>

                                <br>
                                
                                <div class="form-group row">
                                    <div class="col-sm-9 mb-3 mb-sm-0"><input class="form-control form-control-user" id="rua"  placeholder="Rua" name="rua"></div>
                                    <div class="col-sm-3"><input class="form-control form-control-user" id="numero" placeholder="Num" name="numero" ></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0"><input class="form-control form-control-user" id="cep"  placeholder="CEP" name="rua"></div>
                                    <div class="col-sm-4"><input class="form-control form-control-user" id="cidade" placeholder="Cidade" name="cidade" ></div>
                                    <div class="col-sm-4"><input class="form-control form-control-user" id="estado" placeholder="Estado" name="estado" ></div>
                                </div>

                                <!-- <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="user" id="username"  placeholder="Username" name="username"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="tel" id="celular" placeholder="Telefone (XX)-X-XXXX-XXXX" name="telefone" pattern="([0-9]{2})-[0-9]-[0-9]{4}-[0-9]{4}"></div>
                                </div> -->
                                
                                <button onclick="startCadastro()" class="btn btn-primary btn-block text-white btn-user">Registrar Conta</button>
                                <hr><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button"><i class="fab fa-google"></i>&nbsp; Registrar com Google</a><a class="btn btn-primary btn-block text-white btn-facebook btn-user" role="button"><i class="fab fa-facebook-f"></i>&nbsp; Registrar com Facebook</a>
                                <hr>
                            </form>
                            <div class="text-center"></div>
                            <div class="text-center"><a class="small" href="login.html">Já possui uma conta? Faça Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>